.petsGrid_list {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 1fr;

  img {
    width: 50px;
    height: 50px;
  }
  span {
    text-align: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-left: dotted black 1px;
    border-right: dotted black 1px;
    margin-left: -1px;
    margin-bottom: -1px;
  }
}

.petsGrid_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 2fr));
}

.petsGrid_groups {
  display: grid;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  grid-auto-flow: column;

  .petsGrid_groups_group {
    display: grid;
    align-content: baseline;
  }

  .petsGrid_groups_header {
    text-align: center;
    text-transform: uppercase;
  }

}